# Урок 3. Изменение таблиц в Pandas
 ___

Описание данных:
id - unique identified for a house
dateDate - house was sold
pricePrice - is prediction target
bedroomsNumber - of Bedrooms/House
bathroomsNumber - of bathrooms/bedrooms
sqft_livingsquare - footage of the home
sqft_lotsquare - footage of the lot
floorsTotal - floors (levels) in house
waterfront - House which has a view to a waterfront
view - Has been viewed
condition - How good the condition is ( Overall )
grade - overall grade given to the housing unit, based on King County grading system
sqft_above - square footage of house apart from basement
sqft_basement - square footage of the basement
yr_built - Built Year
yr_renovated - Year when house was renovated
zipcode - zip
lat - Latitude coordinate
long - Longitude coordinate
sqft_living15 - The square footage of interior housing living space for the nearest 15 neighbors
sqft_lot15 - The square footage of the land lots of the nearest 15 neighbors

In [1]:
import pandas as pd
import datetime as dt

## Условие 1: Задача 1
___
Скачать данные по ссылке https://drive.google.com/file/d/1Ep9ncT58xJ059I3hDeX2YuJTq4advJTT/view
Считать данные с помощью pandas
Вывести на экран первые 5 строк
1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома
Если реновации дома не было, то в новом признаке поставьте 0
1.3 Создайте признаки года продажи, месяца продажи
1.4 Удалите признаки date, zipcode, lat, long

In [2]:
# Считать данные с помощью pandas
kc_house_data = pd.read_csv('kc-house-data.csv', encoding='utf-8')

In [3]:
# Вывести на экран первые 5 строк
kc_house_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
kc_house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [5]:
# 1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома Если реновации дома не было, то в новом признаке поставьте 0

In [6]:
def check_renovate(row: pd.Series) -> int:
    """
    Функция для определения прошедшего времени между ремонтом здания и его годом постройки
    :param row: Строка данных (Series) из которой получаем нужные нам даты
    :return: 0, если ремонта не было, иначе прошедшее от строительства до ремонта время, в годах.
    """
    if row['yr_renovated'] == 0:
        return 0
    else:
        return row['yr_renovated'] - row['yr_built']

In [7]:
kc_house_data['delta_renovated'] = kc_house_data.apply(check_renovate, axis=1)

In [8]:
kc_house_data[['yr_renovated', 'yr_built', 'delta_renovated']].sample(10)

       yr_renovated  yr_built  delta_renovated
5431              0      1989                0
8000              0      1954                0
7299              0      1901                0
9393              0      1976                0
7152              0      1957                0
2242              0      2006                0
14400             0      1968                0
1778              0      1969                0
11629             0      1955                0
10163             0      1964                0

In [9]:
# 1.3 Создайте признаки года продажи, месяца продажи
kc_house_data['sell year'] = kc_house_data['date'].apply(lambda x: x[:4])
kc_house_data['sell month'] = kc_house_data['date'].apply(lambda x: x[4:6])
kc_house_data[['date', 'sell year', 'sell month']].head()

              date sell year sell month
0  20141013T000000      2014         10
1  20141209T000000      2014         12
2  20150225T000000      2015         02
3  20141209T000000      2014         12
4  20150218T000000      2015         02

Альтернативный вариант с переводом признака "date" в тип datetime:

In [10]:
# kc_house_data['date'] = kc_house_data['date'].apply(lambda x: dt.datetime.strptime(x, '%Y%m%dT%H%M%S'))

In [11]:
# kc_house_data['date'][1].year

In [12]:
# 1.4 Удалите признаки date, zipcode, lat, long
kc_house_data.drop(['date', 'zipcode', 'lat', 'long'], axis=1, inplace=True)
kc_house_data.columns

Index(['id', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'sqft_living15',
       'sqft_lot15', 'delta_renovated', 'sell year', 'sell month'],
      dtype='object')

## Условие 2: 2 задача
___
Создайте датафрейм с клиентами:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})
2.1 Присоедините к таблице clients данные по домам через метод join
2.2 Присоедините к таблице clients данные по домам через метод merge
Это нужно, чтобы понимать, какие дома покупались клиентами
house_id - это индексы датафрейма с домами

In [13]:
clients = pd.DataFrame({'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474], 'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196]})
clients.head()

   client_id    house_id
0       1459  8965450190
1       4684  6823100225
2       3498  5104540330
3       3942  2131701075
4       4535  1522700060

In [14]:
# 2.1 Присоедините к таблице clients данные по домам через метод join
clients.join(kc_house_data.set_index('id'), on='house_id')

,client_id,house_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,sell year,sell month
0,1459,8965450190,295000.0,3,2.50,1500,3060,2.0,0,0,...,7,1500,0,1994,0,2700,7734,0,2015,02
1,4684,6823100225,700000.0,4,1.75,1870,6000,1.0,0,0,...,8,1670,200,1949,0,1710,6000,0,2015,04
2,3498,5104540330,679000.0,4,2.50,3680,7236,2.0,0,0,...,10,3680,0,2006,0,3310,7180,0,2015,05
3,3942,2131701075,420000.0,3,1.75,1720,5000,1.5,0,0,...,8,1720,0,1932,2009,1410,8300,77,2014,12
4,4535,1522700060,518000.0,4,2.75,2520,14021,2.0,0,0,...,9,2520,0,1999,0,2330,14007,0,2014,06
5,2308,1189000207,387000.0,2,2.50,1170,1394,2.0,0,0,...,8,1170,0,2001,0,1250,3136,0,2014,10
6,2866,6821600300,886000.0,3,2.25,2380,6000,2.0,0,0,...,9,1650,730,1931,0,2000,6000,0,2015,03
7,2765,7137950720,339100.0,4,2.50,2350,10655,2.0,0,0,...,8,2350,0,1992,0,2210,7028,0,2015,03
8,1472,9510920050,725000.0,3,2.50,2980,16996,2.0,0,0,...,10,2980,0,1992,0,2980,15438,0,2014,09
9,4236,6131600255,202500.0,3,2.00,1540,8316,1.0,0,0,...,6,1540,0,1954,0,1250,8316,0,2014,12
10,2295,5428000070,770000.0,5,3.50,4750,8234,2.0,0,2,...,10,3350,1400,2013,0,2160,14496,0,2015,05
11,939,1788800910,190000.0,3,1.00,1200,10458,1.0,0,0,...,6,1200,0,1961,0,1160,9000,0,2014,10
12,3840,8100400160,700000.0,3,2.25,2330,11424,2.0,0,0,...,8,2330,0,1984,0,2050,11448,0,2015,04
13,280,3123049142,452000.0,3,2.25,2600,14810,1.0,0,2,...,8,1490,1110,1956,0,2450,16715,0,2014,08
14,20,6306800010,436472.0,4,2.50,2692,8392,2.0,0,0,...,9,2692,0,2014,0,2574,14446,0,2014,08
15,4332,5083000375,170000.0,3,1.00,1310,9529,1.0,0,0,...,7,1310,0,1956,0,1330,9529,0,2014,10
15,4332,5083000375,235000.0,3,1.00,1310,9529,1.0,0,0,...,7,1310,0,1956,0,1330,9529,0,2015,03
16,3475,7920100025,450000.0,2,1.00,740,5100,1.0,0,0,...,7,740,0,1947,0,920,5100,0,2015,04
17,4213,1951600150,180000.0,3,1.00,1610,8500,1.5,0,0,...,7,1610,0,1959,0,1070,8750,0,2015,04
18,3113,809001400,925000.0,3,1.00,1630,3200,1.5,0,0,...,8,1630,0,1912,0,1710,3600,0,2014,09
19,4809,339600110,395000.0,3,2.50,1610,3755,2.0,0,0,...,7,1610,0,1987,0,1300,3823,0,2014,09
20,2134,1622049154,289900.0,3,1.75,1899,11325,2.0,0,0,...,7,1899,0,1943,2005,2000,10454,62,2014,12
21,2242,1099600250,260000.0,3,1.75,1710,6400,1.0,0,0,...,7,1240,470,1976,0,1600,6400,0,2014,12
22,2068,8563000110,427000.0,4,1.75,1460,9750,1.0,0,0,...,7,1460,0,1967,0,1820,9840,0,2015,04
23,4929,2768100205,519000.0,4,2.50,1950,2617,1.5,0,0,...,7,1250,700,1910,0,1520,1438,0,2014,06
24,1384,3995700435,265000.0,4,3.00,1940,8170,1.0,0,0,...,7,1940,0,1948,0,1310,8169,0,2014,07
25,1589,8861700030,510000.0,3,1.50,2400,10275,1.0,0,0,...,8,1540,860,1964,0,2380,10125,0,2014,12
26,3317,3303980210,1115000.0,4,3.75,4040,14212,2.0,0,0,...,11,4040,0,2002,0,3940,14212,0,2015,04
27,2260,7731100066,545000.0,3,1.00,1510,5000,1.5,0,0,...,7,1510,0,1909,0,1680,4000,0,2014,06
28,1727,8146100580,765000.0,3,1.00,1220,7585,1.0,0,0,...,7,1220,0,1954,0,1380,8918,0,2014,10
29,1764,825069097,770000.0,3,2.50,2650,40705,2.0,0,0,...,9,2650,0,1994,0,2550,42625,0,2014,06
30,1611,3889100029,810000.0,3,2.50,2670,10481,2.0,0,0,...,9,2670,0,2003,0,2620,8895,0,2014,06
31,1474,9524100196,239000.0,2,1.50,680,772,2.0,0,0,...,7,680,0,2005,0,690,1059,0,2014,11

In [15]:
# 2.2 Присоедините к таблице clients данные по домам через метод merge
# Это нужно, чтобы понимать, какие дома покупались клиентами
# house_id - это индексы датафрейма с домами

clients.merge(kc_house_data, how='left', left_on='house_id', right_on='id', )

,client_id,house_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,sell year,sell month
0,1459,8965450190,8965450190,295000.0,3,2.50,1500,3060,2.0,0,...,7,1500,0,1994,0,2700,7734,0,2015,02
1,4684,6823100225,6823100225,700000.0,4,1.75,1870,6000,1.0,0,...,8,1670,200,1949,0,1710,6000,0,2015,04
2,3498,5104540330,5104540330,679000.0,4,2.50,3680,7236,2.0,0,...,10,3680,0,2006,0,3310,7180,0,2015,05
3,3942,2131701075,2131701075,420000.0,3,1.75,1720,5000,1.5,0,...,8,1720,0,1932,2009,1410,8300,77,2014,12
4,4535,1522700060,1522700060,518000.0,4,2.75,2520,14021,2.0,0,...,9,2520,0,1999,0,2330,14007,0,2014,06
5,2308,1189000207,1189000207,387000.0,2,2.50,1170,1394,2.0,0,...,8,1170,0,2001,0,1250,3136,0,2014,10
6,2866,6821600300,6821600300,886000.0,3,2.25,2380,6000,2.0,0,...,9,1650,730,1931,0,2000,6000,0,2015,03
7,2765,7137950720,7137950720,339100.0,4,2.50,2350,10655,2.0,0,...,8,2350,0,1992,0,2210,7028,0,2015,03
8,1472,9510920050,9510920050,725000.0,3,2.50,2980,16996,2.0,0,...,10,2980,0,1992,0,2980,15438,0,2014,09
9,4236,6131600255,6131600255,202500.0,3,2.00,1540,8316,1.0,0,...,6,1540,0,1954,0,1250,8316,0,2014,12
10,2295,5428000070,5428000070,770000.0,5,3.50,4750,8234,2.0,0,...,10,3350,1400,2013,0,2160,14496,0,2015,05
11,939,1788800910,1788800910,190000.0,3,1.00,1200,10458,1.0,0,...,6,1200,0,1961,0,1160,9000,0,2014,10
12,3840,8100400160,8100400160,700000.0,3,2.25,2330,11424,2.0,0,...,8,2330,0,1984,0,2050,11448,0,2015,04
13,280,3123049142,3123049142,452000.0,3,2.25,2600,14810,1.0,0,...,8,1490,1110,1956,0,2450,16715,0,2014,08
14,20,6306800010,6306800010,436472.0,4,2.50,2692,8392,2.0,0,...,9,2692,0,2014,0,2574,14446,0,2014,08
15,4332,5083000375,5083000375,170000.0,3,1.00,1310,9529,1.0,0,...,7,1310,0,1956,0,1330,9529,0,2014,10
16,4332,5083000375,5083000375,235000.0,3,1.00,1310,9529,1.0,0,...,7,1310,0,1956,0,1330,9529,0,2015,03
17,3475,7920100025,7920100025,450000.0,2,1.00,740,5100,1.0,0,...,7,740,0,1947,0,920,5100,0,2015,04
18,4213,1951600150,1951600150,180000.0,3,1.00,1610,8500,1.5,0,...,7,1610,0,1959,0,1070,8750,0,2015,04
19,3113,809001400,809001400,925000.0,3,1.00,1630,3200,1.5,0,...,8,1630,0,1912,0,1710,3600,0,2014,09
20,4809,339600110,339600110,395000.0,3,2.50,1610,3755,2.0,0,...,7,1610,0,1987,0,1300,3823,0,2014,09
21,2134,1622049154,1622049154,289900.0,3,1.75,1899,11325,2.0,0,...,7,1899,0,1943,2005,2000,10454,62,2014,12
22,2242,1099600250,1099600250,260000.0,3,1.75,1710,6400,1.0,0,...,7,1240,470,1976,0,1600,6400,0,2014,12
23,2068,8563000110,8563000110,427000.0,4,1.75,1460,9750,1.0,0,...,7,1460,0,1967,0,1820,9840,0,2015,04
24,4929,2768100205,2768100205,519000.0,4,2.50,1950,2617,1.5,0,...,7,1250,700,1910,0,1520,1438,0,2014,06
25,1384,3995700435,3995700435,265000.0,4,3.00,1940,8170,1.0,0,...,7,1940,0,1948,0,1310,8169,0,2014,07
26,1589,8861700030,8861700030,510000.0,3,1.50,2400,10275,1.0,0,...,8,1540,860,1964,0,2380,10125,0,2014,12
27,3317,3303980210,3303980210,1115000.0,4,3.75,4040,14212,2.0,0,...,11,4040,0,2002,0,3940,14212,0,2015,04
28,2260,7731100066,7731100066,545000.0,3,1.00,1510,5000,1.5,0,...,7,1510,0,1909,0,1680,4000,0,2014,06
29,1727,8146100580,8146100580,765000.0,3,1.00,1220,7585,1.0,0,...,7,1220,0,1954,0,1380,8918,0,2014,10
30,1764,825069097,825069097,770000.0,3,2.50,2650,40705,2.0,0,...,9,2650,0,1994,0,2550,42625,0,2014,06
31,1611,3889100029,3889100029,810000.0,3,2.50,2670,10481,2.0,0,...,9,2670,0,2003,0,2620,8895,0,2014,06
32,1474,9524100196,9524100196,239000.0,2,1.50,680,772,2.0,0,...,7,680,0,2005,0,690,1059,0,2014,11

## Условие 3: 3 задача
___
Составьте несколько сводных таблиц
3.1 Найдите среднюю стоимость домов в зависимости от количества спален
Отсортируйте от меньшей стоимости к большей
3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома
3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида
3.4 Каких домов в зависимости от этажности и количества спален больше?
3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [16]:
# 3.1 Найдите среднюю стоимость домов в зависимости от количества спален Отсортируйте от меньшей стоимости к большей

pd.pivot_table(kc_house_data, index='bedrooms', values='price', aggfunc='mean').sort_values(by='price')

                 price
bedrooms
1         3.176429e+05
2         4.013727e+05
0         4.095038e+05
3         4.662321e+05
11        5.200000e+05
4         6.354195e+05
33        6.400000e+05
5         7.865998e+05
10        8.193333e+05
6         8.255206e+05
9         8.939998e+05
7         9.511847e+05
8         1.105077e+06

In [17]:
# 3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

pd.pivot_table(kc_house_data, index='condition', values='price', aggfunc=['min', 'mean', 'max'])

                min           mean        max
              price          price      price
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0
5          110000.0  612418.089359  3650000.0

In [18]:
# 3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

pd.pivot_table(kc_house_data, index='waterfront', columns='view', values='id', aggfunc=['count'])

              count
view              0      1      2      3      4
waterfront
0           19489.0  331.0  955.0  491.0  184.0
1               NaN    1.0    8.0   19.0  135.0

### Неточность
___
В датафрейме признак "view - Has been viewed", то есть сколько раз был дом просмотрен, а не оценка вида.
Ошибка либо в описании признака, либо в описании задания, однако в рамках задания я принимаю что view - это оценка вида.

In [19]:
# 3.4 Каких домов в зависимости от этажности и количества спален больше?

pd.crosstab(index=kc_house_data['floors'], columns=kc_house_data['bedrooms'])

bedrooms  0    1     2     3     4    5    6   7   8   9   10  11  33
floors
1.0        4  162  1951  5455  2383  605  104   9   5   0   1   0   1
1.5        0   21   182   786   698  185   30   7   1   0   0   0   0
2.0        6   12   497  3118  3682  775  119  19   6   4   2   1   0
2.5        0    1     5    56    58   23   14   2   0   2   0   0   0
3.0        2    3   123   405    61   13    5   1   0   0   0   0   0
3.5        1    0     2     4     0    0    0   0   1   0   0   0   0

In [20]:
# 3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

pd.pivot_table(kc_house_data, index='condition', columns='grade', values='price', aggfunc='median')

grade,1,3,4,5,6,7,8,9,10,11,12,13
condition,,,,,,,,,,,,
1,142000.0,NaN,150000.0,190000.0,255000.0,403500.0,932500.0,NaN,NaN,NaN,NaN,NaN
2,NaN,280000.0,145000.0,180000.0,235000.0,305000.0,429000.0,715000.0,1752500.0,NaN,NaN,NaN
3,NaN,75000.0,205000.0,234475.0,265000.0,357500.0,485000.0,689000.0,890000.0,1209500.0,1807500.0,2888000.0
4,NaN,NaN,238525.0,229975.0,295000.0,390000.0,571250.0,823500.0,1030000.0,1685000.0,2125000.0,5750000.0
5,NaN,262000.0,NaN,227450.0,285475.0,456000.0,696000.0,1078000.0,1650000.0,2050000.0,1990000.0,NaN